* {
    margin: auto;
    padding: 0px;
    user-zoom: fixed;
}

body {
    max-width: 1500px;
    min-width: fit-content;
    background: #cacadb;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /*          margin-left: 5%; */
    justify-content: center;
    max-width: 1550px;
    border: 2px solid dodgerblue;
    background: ghostwhite;
}

.main {
    background: white;
    height: 350px;
    width: 300px;
    border: 1px solid rgb(16 48 227 / 51%);
    justify-content: space-around;
    margin: 30px 10px;
    overflow: hidden;
}

.main:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

/* .nav:hover {
            transform: scale(1.05);
            box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
            transition: 0.2s;
        } */

.box {
    background: linear-gradient(to right, rgb(16 48 227 / 60%), rgb(34 241 180 / 62%));
    height: 80px;
    color: white;
    text-align: center;
    padding: 10px;
}

.box h1 {
    text-shadow: 1px 1px 5px white;
}

h1 {
    margin-top: 17px;
}

.p {
    text-align: left;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}

.read-more {
    background: linear-gradient(to right, rgb(34 241 180), rgb(98 0 255 / 86%));
    height: 15px;
    width: 80%;
    text-align: center;
    padding: 10px;
    /* margin: 30px; */
    /* margin-top: 73px; */
    cursor: pointer;
    color: white;
    display: block;
    margin-left: 20px;
    margin-top: 50px;
    text-decoration: none;
}

.heading {
    /*          position:fixed; */
    text-align: center;
    /*          margin-top: -5px; */
    font-size: 30px;
    background: rgba(3, 3, 179, 0.742);
    margin-top: 1.0rem;
}

.nav {
    /* height: 100px; */
    width: 87%;
    background: linear-gradient(to right, rgb(34 111 241), rgb(161 37 142 / 96%));
    ;
    border: 1px solid rgb(0 0 0 / 25%);
    margin-top: 20px;
    /*          margin-left: 5%; */
    padding: 10px;
    color: white;
    margin-bottom: 15px;
    /* overflow: hidden; */
}


.navbar {
    margin-top: 0px;
}

.container-2 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    /*             background: linear-gradient(45deg, rgb(98 0 255 / 86%), transparent); */
    background: linear-gradient(-45deg, rgb(98 0 255 / 47%), transparent);
    /* background-color: gainsboro; */
}

/* .link{
    border: 2px solid black;
} */

.link {
    margin-top: 45px;
}

.li {
    list-style: none;
    margin: 10PX;
    font-size: 25px;
}

.li-a {
    text-decoration: none;
    color: gray;
}

.li-a:hover {
    color: tomato;
}

.web_dev {
    margin-top: 5px;
    text-align: center;
    color: gray;
    font-size: 25px;
}

.web_dev:hover {
    color: tomato;
}

.gmail {
    margin-top: 5px;
    color: gray;
    font-size: 25px;
}

.gmail:hover {
    color: tomato;
}

.link-h1 {
    text-align: center;
    margin-top: -1px;
}

.link-h1:hover {
    text-decoration: underline;
    text-decoration-color: tomato;
}

.aakash-img {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-top: -25px;
    border-radius: 50%;
}

.aakash-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.copyright {
    text-align: center;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    /*          width: 100%; */
}


.heading {
    display: flex;
    flex-wrap: wrap;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
}

.nav-name {
    padding: 5px;
    margin: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.nav-a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.nav-h {
    font-size: 40px;
    margin-top: 17px;
    color: #e6ecff;
    font-family: sans-serif;
}

.nav-h:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25); */
    transition: 0.2s;
    text-shadow: 1px 1px 10px white;
}

.nav-a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik'
}

#html {
    margin-top: 30px;
}

#css {
    margin-top: 50px;
}

#php {
    margin-top: 59px;
}

#cplus {
    margin-top: 40px;
}

#python {
    margin-top: 41px;
}

#java {
    margin-top: 22px;
}

@media screen and (max-width:349px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .nav-bar {
        display: block;
    }

}

@media screen and (min-width:1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
}

.message {
    margin-top: 100px;
    padding: 30px;
    /* display: flex; */
    /* margin-left: 290px; */
    background: linear-gradient(45deg, rgb(98 0 255 / 44%), transparent);
}

input {
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: white;
    border: none;
    width: 100%;
}

button {
    margin-left: 10px;
    padding: 10px 30px;
    /* background: linear-gradient(blue,tomato); */
    background-color: tomato;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
    width: 98.6%;
}

.message p {
    background-color: rgba(193, 192, 192, 0.825);
    margin: 10px;
    padding: 10px;
}

#nav_btn {
    background: rgb(136 18 200 / 56%);
    margin: 0;
    width: 100%;
    margin-top: 20px;

}

.nav_btn {
    text-decoration: none;
    display: none;
}

.nav-h {
    padding: 10px;
}

.nav-a {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sriracha', cursive;
}

@media screen and (max-width:784px) {
    .nav-name-container {
        display: none;

    }

    .nav_btn {
        text-decoration: none;
        display: block;
    }

    .nav-bar {
        display: block;
        margin: auto;
    }

    .nav-name {
        padding: 8px;
        margin: auto;
        box-sizing: border-box;
        background: lightseagreen;
        border-bottom: 1px solid gray;
    }

    .heading {
        display: block;
    }

    #nav_name_java1 {
        margin-top: 10px;
    }

}


.color-change-box{
            text-align: right;
            margin-right: 5px;
        }

        .color-change-box span{
            display: inline-block;
            position: relative;
        }
        .color-change-box label{
            position: relative;
            font-size: 10px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 5px 5px;
            top: 23px;
            font-weight: bold;
        }

.color-box{
            width: 10px;
            height: 10px;
            border: 1px solid #222;
            top: 25px;
            cursor: pointer;
        }
        .white{
            color: white;
        }
        .dark{
            color: black;
        }
        .white-box{
            background-color: #ffffff;
        }
        .dark-box{
            background-color: #000000;
        }
